body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    line-height: 40px;
}
h2{
    font-size: 30px;
}
p{
    text-align: justify;
}
.oreange-color{
    color: orange;
}
.fixe-continar{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    margin-left: 7%;
}
.half-width img {
    width: 80%;
    margin-top: 40px;
}
.hier-me{
    text-decoration: none;
    background-image: linear-gradient(orange,orangered);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
.hero-section{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.text-padd{
    padding-right: 5%;
}
.experiences{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences-item{
    width: 40%;
    padding-left: 12px;
    padding-right: 6px;
    border-radius: 10px;
    border-left: 7px solid tomato;
    box-shadow: 10px 10px 40px black;
}
#experiences-item-1 {
    border-left: 7px solid tomato;
    margin-left: 5%;
    margin-right: 2.5%;
}
#experiences-item-2 {
    border-left: 7px solid blue;
    margin-right: 5%;
    margin-left: 2.5%;
}
footer p{
    text-align: center;
    color: gray;
}
.border{
    border-top: 1px solid gray;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}